<form action="/cadastrar" method="post">
        Nome:<br>
        <input type="text" name="nome" id="nome" required><br>
        Email:<br>
        <input type="email" name="email" id="email" required><br>
        <button type="submit">cadastrar</button>
</form>