<div class="form-cadastro">
<form action="/cadastrar" method="post">
<div class="container">
        <input type="text" name="nome" id="nome" required placeholder="nome" class="campo">
        <input type="email" name="email" id="email" required placeholder="email" class="campo">
        <button type="submit" class="cadastrar">cadastrar</button>
</div>    
</form>
</div>